.home-wrapper {
    margin: ($base-size * 18) auto;
    padding: ($base-size * 4) ($base-size * 4);
    background: $color-light;
    border-bottom: 1px solid lighten($color-dark, 70%);
    border-radius: $radius;

    /* Box section */

    .box-wrapper{
        padding: ($base-size * 5) 0;

        .box {
            margin: 5px;
            border-radius: 5px;
            text-align: center;
            color: $color-light;

            h2 {
                font-size: ($base-size * 2);
            }
        }

        .small-box-wrapper{
            display: flex;

            .small {
                flex: 50%;
                padding: 5% 0 2% 0;

                &.order {
                    background: url('./../../images/home/pizza-1.jpg') 0/cover no-repeat;
                }

                &.booking {
                    background: url('./../../images/home/pizza-2.jpg') 0/cover no-repeat;
                }

                h2, p {
                    transition: transform 1s ease;
                    line-height: .7;
                }

                a {
                    text-transform: uppercase;
                    text-decoration: none;
                    color: $color-light;
                }

                p {
                    opacity: 0;
                    transition: all 1s;
                }

                &:hover {
                    cursor: pointer;

                    h2, p{
                        transform: translateY(-20px);
                        opacity: 1;
                    }
                }
            }
        }

        .large {
            margin-top: 3px;
            flex: 100%;
            padding: 3% 0;
            background-color: $color-main;
            text-transform: uppercase;

            h2, p {
                line-height: 1;
            }
        }
    }
    
}